<div>
    <h1>Ver listado de productos:</h1>  <a href="http://localhost:8080/mostrar/productos">Volver</a>

        <p>Nombre: {{this.title}}</p>
        <div class="carrousel">
            <img class="imagen" src={{this.img}}>
    </div>
</div>