<div>
    <h1>Restaurar la contraseña</h1>

    <form id="restoreForm" action="/formRestore" method="post">
        <label>Email</label>
        <input type="email" name="Email"/>
        <label>Nueva contraseña</label>
        <input type="password" name="Password"/>
        <button type="submit">Restablecer</button>
    </form>
</div>